//IMPORT
@import 'PARTIALS/reset';
@import 'PARTIALS/mixins';

//VARIABLES
$primary-color: black;
$border-width: 2px;

.border-blue {
    border-color: blue;
    border-width: $border-width;
}

.border-red {
    border-color: red;
    border-width: $border-width;
}

//OPERATIONS
$container: 1440px;
$padding: 25px;

//INSTEAD OF
// .half {
//     height: $container / 2 - $padding / 2; //MATH OPERATION
// }
// .half1 {
//     height: $container / 2 - $padding / 2;
// }
// .half2 {
//     height: $container / 2 - $padding / 2;
// }

//FUNCTIONS
@function half-heigth($first, $second){
    @return $container / $first - $padding / $second;
}

.half {
    height: half-heigth(2, 2); //ARGUMENTS FOR MATH OPERATION
}
.half-1 {
    height: half-heigth(3, 3);
}
.half-2 {
    height: half-heigth(5, 5);
}

//FUNCTION EXTEND
.first-class {
    color: $primary-color;
    background-color: white;
}

.second-class { 
    @extend .first-class;  
    font: 2rem; 
}

//NESTING PROCESS

//INSTEAD OF:
// a { font-family: sans-serif; color: $primary-color; }
// a:hover,
// a:focus,
// a:visited { color: blue; }
// a.link-class { color: green; }
// a.link-class:hover,
// a.link-class:focus,
// a:visited { color: blue; }

a { font-family: sans-serif; color: $primary-color;
    &:hover,
    &:focus,
    &:active { color: blue; }
    &.link-class { color: green; 
        &:hover,
        &:focus,
        &:active { color: black; }
    }
}


//MIXINS(IMPORTED)
.translateX {
    @include translateX(12px);
}

.transformX {
    @include translateX(15px);
}

.box-1 {
    @include animate-time; //default value
}

.box-2 {
    @include animate-time(500ms);
}

.box-3 {
    @include animate-time(600ms);
}


////////////LOOPS


//FOR LOOP

@for $space from 1 through 6
{
    .pt-#{$space}
    {
        padding-top: 10px * $space;             
    }

    .pb-#{$space}
    {
        padding-bottom: 10px * $space;             
    }
}

// .padding-top-1: 10px; 
// .padding-top-2: 20px; etc

// .padding-bottom-1: 10px; 
// .padding-bottom-2: 20px; etc


//USEFUL FOR COLUMNS - GRIDS - PERCENTAGES
@for $space from 1 through 6
{
    $width: percentage( 1 / $space ); //operation for width

    .column-#{$space}
    {
        width: $width;             
    }

}


//WHILE LOOP

$num: 1;

@while $num < 7
{
    $width: percentage( 1 / $num ); //operation for width

    .column-#{$num}
    {
        width: $width;             
    }

    $num: $num + 1;
}

//EACH LOOP ( QUERIES, GRIDS SYSTEMS )

$white: #fff;
$black: #000;
$red: #f00;
$primary: #ccc;
$secondary: #333;

//ARRAY
$colors: (
    'white' $white,
    'black' $black,
    'red' $red,
    'primary' $primary,
    'secondary' $secondary
);

//GENERATES CLASSES
// .text-white { color: #fff; }
// .text-black { color: #000; }
// etc..
@each $color, $hex in $colors
{
    .text-#{$color}
    {
        color: $hex;
    }

    .background-#{$color}
    {
         background-color: $hex;
    }
}

